* {
    scrollbar-width: thin;
	scrollbar-color: #809dd5 #08090d;
    padding: 0;
};

.left-footer-stack {
    width: 320px;
}

.social i, svg {
    transition: all .2s;
}

.social i:hover, svg:hover {
    color: rgba(108,117,125, 1);
}

.footer-links a, b {
    transition: all .1s;
}

.footer-link:hover {
    text-decoration: underline!important;
}

.menu-con-divider {
    position: relative;
    width: 1px;
    height: auto;
    border-radius: 4px;
    color: #fff;
    border-bottom: 2px solid transparent;
    background: rgba(255, 255, 255, 0.381);
    margin-top: .5rem;
    margin-top: 0;
}

.copy:hover {
    color: rgb(203, 203, 203)!important;
}

.img-fluid {
    transition: all .5s;
}

.img-fluid:hover {
    scale: 1.007!important;
}



.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: mymove 3s infinite;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@keyframes pulse{
0% {
    -webkit-transform: scale3d(1.007, 1.007, 1.007);
    transform: scale3d(1.007, 1.007, 1.007);
}
50% {
    -webkit-transform: scale3d(1.012, 1.012, 1.012);
    transform: scale3d(1.012, 1.012, 1.012);
}
100% {
    -webkit-transform: scale3d(1.007, 1.007, 1.007);
    transform: scale3d(1.007, 1.007, 1.007);
}
}


.feature {
    position: relative !important;   
    font-display: ;
    background: url('kasdlksad')
    border:
}

p {
    font-weight: bold;
    font-style: italic;
    font-size: 2px;
}
ul {
    list-style: upper-latin;
    border-style: solid\;
}



