<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/boot.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css')}}">
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="shortcut icon" href="{{ url_for( 'static', filename='assets/logo.ico')}}" type="image/x-icon">
	<script src="{{ url_for( 'static', filename='src/main.js')}}"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
<style>
body {
	color: #fff;
}

;
.btn-outline-ganyu {
	color: #f8f9fa;
	border-color: #f8f9fa;
}

;
.btn-outline-ganyu:hover {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
</style>

<body class="bg-black">
	<header class="sticky-top py-2 px-4" style="backdrop-filter: blur(40px);">
		<div class="d-flex flex-column flex-md-row align-items-center">
			<a href="/" class="d-flex align-items-center text-white text-decoration-none" style="z-index: 2;"> <img width="50" class="rounded-5 me-4" src="{{ url_for( 'static', filename='assets/logo.gif') }}" alt="Logo"> <span class="fs-4 fw-bolder">Ganuy Bot</span> </a>
			<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" style="z-index: 2;"> <a class="py-2 text-white text-decoration-none btn btn-hover-nav btn-nav fs-5" href="/commands">Команди</a> <a class="py-2 text-white text-decoration-none btn btn-hover-nav fs-5 btn-nav" href="/dashboard">Панель</a> <a class=" py-2 text-white text-decoration-none btn btn-hover-nav dropdown-toggle fs-5 btn-nav" data-bs-toggle="dropdown" href="#">Вікі</a>
				<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(40px); border-color: rgba(255, 255, 255, .5)">
					<li><a class="dropdown-item text-end fs-5" href="/wiki/artifacts">Артефакти</a></li>
					<li><a class="dropdown-item text-end fs-5" href="/wiki/weapon">Зброя</a></li>
					<li><a class="dropdown-item text-end fs-5" href="/wiki/c haracters">Персонажі</a></li>
					<li><a class="dropdown-item text-end fs-5" href="/wiki/foods">Їжа</a></li>
				</ul> <a class="py-2 text-white text-decoration-none btn btn-hover-nav fs-5 btn-nav" href="/blog">Блог</a> <a class="py-2 text-white text-decoration-none btn btn-hover-nav me-3 fs-5 btn-nav" href="http://discord.gg/Rmtb6d6uVj">Підтримка</a>
				<div class="me-3 py-2 menu-con-divider"></div>
				<button type="button" class="me-3 py-2 btn btn-outline-ganyu fs-5 "><a href="/auth" class="text-decoration-none text-white">Увійти</a></button>
			</nav>
			<div class="bg-black" style="backdrop-filter: blur(5px);"> </div>
		</div>
	</header>
	<main class="container py-4 px-3 mx-auto">
		<div class="border-top pt-3"> {% block body %}{% endblock body %} </div>
	</main>
	<footer class="w-100 mt-6" style="background-color: #242328;">
    <div class="container pt-4">
		<div class="p-3  rounded-3 container row row-cols-1 row-cols-sm-2 row-cols-md-5"  style="background-color: #000; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 18px 0px;">
			<div class="col p-3 left-footer-stack rounded-3 d-block" style="background-color: #242328;">
				<a href="/" class="d-flex align-items-center text-white text-decoration-none" style="z-index: 2;"> <img width="50" class="rounded-circle me-4" src="{{ url_for( 'static', filename='assets/logo.gif') }}" alt="Logo"> <span class="fs-4 fw-bolder">Ganuy Bot</span> </a>
				<p class="text-secondary d-flex fw-semibold float-start">Привіт, я Ґанью секретарка Цісін в Ліюе. Моє завдання допомагати мандрівникам освоюватися з дивовижним світом Тейват</p>
			</div>
			<div class="col mb-3"> </div>
			<div class="col mb-3 footer-links">
				<p class="fw-semibold fs-5">Особливості</p> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/wiki">Вікі-документація</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/economy">Економіка</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/commands">Команди</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/dashboard">Панель</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/leveling">Система рівнів</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/rpg">RPG система</a> </div>
			<div class="col mb-3 footer-links">
				<p class="fw-semibold fs-5">Більше про мене!</p> <a class="footer-link text-decoration-none text-white d-block fs-6" href="http://github.com/IndiMops/Ganyu-bot/issues/new/choose">Залишити відгук</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="blog/guide">Дізнайтесь більше про Ganyu Bot</a> </div>
			<div class="col mb-3 footer-links">
				<p class="fw-semibold fs-5">Права і т.д.</p> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/privacy-policy">Політика конфіденційності</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/terms-of-service">Умови використання</a> <a class="footer-link text-decoration-none text-white d-block fs-6" href="/cookie-policy">Політика файлів cookie</a> </div>
        </div>
        <div class="text-center py-2 ">
          <div class="col social mt-3 py-2" ">
            <a href="http://mops-storage.xyz " target="_blank " class="text-reset me-2 " rel="noopener noreferrer "><i class="fa-solid fa-code fa-xl "></i></a>
            <a href="http://github.com/IndiMops/Ganyu-bot " target="_blank " class="text-reset me-2 " rel="noopener noreferrer "><i class="fa-brands fa-github fa-xl "></i></a>
            <a href="http://discord.gg/Rmtb6d6uVj " target="_blank " class="text-reset me-2 " rel="noopener noreferrer "><i class="fa-brands fa-discord fa-xl "></i></a>
            <a href="http://top.gg/bot/938580973057093702 " target="_blank " class="text-reset me-2 " rel="noopener noreferrer "><svg xmlns="http://www.w3.org/2000/svg " viewBox="120 120 580 580 " style="width: 1.5em; ">
              <path fill="currentColor " d="M655.711 247H330.71V572H397.113C422.599 572 447.042 561.876 465.064 543.854C483.086 525.832 493.21 501.389 493.21 475.902V409.5H559.613C585.099 409.5 609.542 399.375 627.564 381.354C645.586 363.332 655.711 338.889 655.711 313.402V247Z "></path><path fill="currentColor " d="M144 247H306.5V409.5H193.657C180.531 409.5 167.943 404.286 158.661 395.004C149.379 385.722 144.165 373.134 144.165 360.008L144 247Z "></path>
            </svg></a>
            <a href="http://www.patreon.com/indi_mops " target="_blank " class="text-reset me-2 " rel="noopener noreferrer "><i class="fa-brands fa-patreon fa-xl "></i></i></a>
            <a href="http://donatello.to/indi_mops " target="_blank " class="text-reset me-2 " rel="noopener noreferrer "><i class="fa-sharp fa-solid fa-d fa-xl "></i></i></i></a>
          </div>
          <p class="fw-lighter ">©<a class="text-decoration-none text-white copy " href="http://mops-storage.xyz ">Mops Storage</a>, 2020 - 2022, Всі права захищені</p>
        </div>
    </div>
  
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3 "
        crossorigin="anonymous "></script>
</body>

</html>