{% extends 'base.html' %}

{% block title %}Ganyu Bot - 🥥Ваш професійний гід по Тейвату{% endblock title %}

{% block body %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
	<div class="col-10 col-sm-8 col-lg-6 "> <img src="{{ url_for( 'static', filename='assets/hero.png')}}" class="d-block mx-lg-auto img-fluid animated pulse" alt="Hero" loading="lazy" width="700" height="500"> </div>
	<div class="col-lg-6">
		<h1 class="display-5 fw-bold lh-1 mb-3">Твій професійний гід</h1>
		<p class="lead ">Привіт, я Ґанью секретар Цісін. Моє завдання допомагати мандрівникам освоюватися з дивовижному світі Тейвату</p>
		<div class="d-grid gap-2 d-md-flex justify-content-md-start">
			<button type="button" class="btn btn-ganyu btn-lg px-4 me-md-2">Запросити мене</button>
			<button type="button" class="btn btn-outline-ganyu btn-lg px-4">Сервер підтрики</button>
		</div>
	</div>
</div>
<div class="container px-4 py-5 bg">
	<h2 class="pb-2 text-center">Нас багато!</h2>
	<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
		<div class="feature col text-center">
			<div class="fs-1 mb-3">
				<i class="fa-solid fa-earth-americas fa-2xl"></i>
			</div>
			<div class="fw-bold">
				<h3 class="fs-2">Серверів</h3>
				<div class="fw-bold fs-2">{{ guilds }}</div>
			</div>
		</div>
      <div class="feature col text-center">
        <div class="fs-1 mb-3">
          <i class="fa-solid fa-user-group fa-2xl"></i>
        </div>
        <div class="fw-bold">
			<h3 class="fs-2">Користувачів</h3>
			<div class="fw-bold fs-2">{{ users }}</div>
		</div>
	</div>
      
        <div class="feature col text-center">
          <div class="fs-1 mb-3">
            <i class="fa-solid fa-right-to-bracket fa-2xl"></i>
          </div>
          <div class="fw-bold">
			<h3 class="fs-2">Виконаних команд</h3>
			<div class="fw-bold fs-2">{{ commands }}</div>
		</div>
        </div>
</div>
</div>
{% endblock body %}